.product-page {
    height: 100vh;
    padding: 48px 50px;
}


.header_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 25px;
}

.header_row h1{
    font-size: 32px;
}

.pp_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}

.pp_container-product{
    display: flex;
    flex-direction: column;
    gap: 48px;
    flex-grow: 2;
}

.pp_container-product_box{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.pp_container-product_box-img{
    width: 300px;
    height: 300px;
    background-color: grey;
}

.pp_container-product_box-comparison{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.pp_container-product_box-comparison h2 {
    font-size: 24px;

}

.pp_container-product_details{
    padding: 0 0 50px 350px;
}

.alternativeProductMenu{
    width: 300px;
    height: 450px;
    background-color: grey;
}

