
.price-comparison {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.pc_entry p {
    font-size: 18px;
    align-self: center;
}

.pc_entry {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pc_entry-priceandbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 40px 0 10px;
}

.img-box{
    width: 150px;
    height: 55px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}