@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --bg: #E8E8E8;
    --highlight: #F4A574;
    --bright: #FF6200;
}
/*
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
html {
    min-height: 100%;
}

h1, h2, h3, h5 {
  color: #3a474e;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18.72px;
}

body {
  min-height: 100%;
}

form {
    display: contents;
}

