.logo {
    float:left;
    width:12%;
}

.middle {
    width:49%;
    float:left;
    height:80px;
}

.graphicimage {
    float:right;
    width:39%;
    height:95vh;
}

.userArea {
    float:left;
    width:61%;
    padding: 60px 200px 10px 200px;
    justify-content: center;
}