.sr_product-page {
    height: 100vh;
    padding: 48px 50px;
}

.sr_header_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 25px;
}

.sr_header_row h1{
    font-size: 32px;
}

.sr_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}

.sr_container-card{
    width: 48%;
    height: 250px;
    padding: 30px 40px 30px 40px;
    background-color: #F9F9F9;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 8px 5px #D9D9D9;
    text-decoration: none;
    color: black;
}




.sr_container-card_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.sr_container-card_row-details h3 {
    font-size: 24px;
    height: 50px;
    text-align: start;
}

.sr_container-card_row-details p {
    text-align: start;
    padding-bottom: 8px;
}

.sr_container-card_row-comparison{

}

